{% extends "./template/layout.html" %}

{% block css %}
<style>
  .player-fix{
    width: 600px;
    height: 600px;
    background-color: #ccc;
  }
</style>
{% endblock %}

{% block body %}

  {% for item in [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
    {{item}}
  {% endfor %}

<div class="player-fix abs" id="bofqi">

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/video.min.js"></script>
<script>
  var vd = {
    "aid":30158822,
    "videos":1,
    "tid":25,
    "tname":"MMD·3D",
    "copyright":1,
    "pic":"http://i1.hdslb.com/bfs/archive/ac4bfb731e6e601f1203686f874050cb6920677d.jpg",
    "title":"洛天依Cosplay~国色天香,倾国倾城",
    "pubdate":1535058303,
    "ctime":1535058300,
    "desc":"还是喜欢干净的渲染，贼好看！MMD交流群：334289709模型来源: 梦塔之雪谜城、H-T-Z-T动作来源: づなうじ镜头来源: CME6大神犬场景来源: RC使用软件: MMD/C4DBGM【音乐名】: 初音ミク - 冬已去，春未来",
  "state":0,
    "attribute":16768,
    "duration":141,
    "rights":{
    "bp":0,
      "elec":0,
      "download":1,
      "movie":0,
      "pay":0,
      "hd5":1,
      "no_reprint":1,
      "autoplay":1
  },
  "owner":{
    "mid":20153441,
      "name":"琴里地胖次",
      "face":"http://i2.hdslb.com/bfs/face/ef5ae1f3896e695e9e6136f531769bed0d1794cf.jpg"
  },
  "stat":{
    "aid":30158822,
      "view":153535,
      "danmaku":626,
      "reply":457,
      "favorite":15499,
      "coin":3272,
      "share":239,
      "now_rank":0,
      "his_rank":99,
      "like":4096,
      "dislike":24,
      "no_reprint":1,
      "copyright":1
  },
  "dynamic":"#舞蹈MMD##洛天依##自制#",
    "cid":52581695,
    "dimension":{
    "width":1920,
      "height":1080,
      "rotate":0
  },
  "no_cache":false,
    "pages":[
    {
      "cid":52581695,
      "page":1,
      "from":"vupload",
      "part":"洛天依Cosplay~国色天香,倾国倾城",
      "duration":141,
      "vid":"",
      "weblink":"",
      "dimension":{
        "width":1920,
        "height":1080,
        "rotate":0
      }
    }
  ],
    "embedPlayer":"EmbedPlayer('player', '//static.hdslb.com/play.swf', 'cid=52581695&aid=30158822&pre_ad=')"
  }


  EmbedPlayer('player', '//static.hdslb.com/play.swf', 'cid=52581695&aid=30158822&pre_ad=')
</script>
{% endblock %}